
snippet rafc "Functional Component React" b
import React from 'react'

const ${1} = () => {
	return (

	);
};

export default $1;
endsnippet

snippet isc "StyledComponentsImport" b
import styled from 'styled-components'
endsnippet

snippet sdc "StyledComponent" b
const ${1} = styled.div`

`;
endsnippet
