
snippet rnfc "Functional Component React-native" b
import {View} from 'react-native'

const ${1} = () => {
	return (

	);
};

export default $1;
endsnippet

snippet sdc "StyleComponent" b
const ${1} = styled.div`

`;
endsnippet
